*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 500vh;
}


.header{
    background-color: white;
    padding-top: 0.01rem;
    padding-bottom: 0.01rem;
    &_div{
      
        &_logo{
            width: 218px;
          
        }

        &_ul{
            display: flex;
            justify-content:space-evenly;

            li{
                list-style: none;
               a{
                text-decoration: none;
                color: #7a7a7a;
               }
            }

            &_home{

                &_line{
                    
                    height: 1px;
                    width: 45px;
                    background-color: black;
                }


                &_dropdowns{

                    padding: 0 1rem;
                    position: absolute;
                    background-color: white;
                    height: 0; 
                    overflow: hidden;
                    left: 28rem;
                    
                }
            }

           &_home:hover .header_div_ul_home_dropdowns{

               transition: .7s;
               height: 250px;
               

           }
           
           &_pages{

            &_line{
                height: 1px;
                width: 0;
                background-color: black;
                transition: .5s;
            }

            

            &_dropdowns{

                padding: 0 2rem;
                position: absolute;
                background-color: white;
                height: 0; 
                overflow: hidden;
                left: 33rem;
                
            }
          }

         &_pages:hover .header_div_ul_pages_dropdowns{

            transition: .7s;
            height: 140px;
         }
         &_pages:hover .header_div_ul_pages_line{
            width: 44px;
         }


         &_shop{
           
            &_line{
                height: 1px;
                width: 0;
                background-color: black;
                transition: .5s;
            }

            &_dropdowns{
                // padding:0 2rem;
                // position: absolute;
                // background-color: white;
                // height: 0;
                // overflow: hidden;

                padding: 0 31rem;
                position: absolute;
                background-color: white;
                height: 0;
                overflow: hidden;
                right: 6rem;
                
            }
          }

         &_shop:hover .header_div_ul_shop_dropdowns{

            transition: .7s;
            
            height: 533px;
         }

         &_shop:hover .header_div_ul_shop_line{
            width: 41px;
         }

         &_portfolio{

            &_line{
                height: 1px;
                width: 0;
                background-color: black;
                transition: .5s;
            }



            &_dropdowns{
                // padding: 0 2rem;
                position: absolute;
                background-color: white; 
                height: 0; 
                overflow: visible; 
                left: 41.5rem;
                
                li{
                    opacity: 0;
                    visibility: hidden;
                }
            }
          }

         &_portfolio:hover .header_div_ul_portfolio_dropdowns{

            transition: .7s;
            height: 190px;

            li{
                transition: 2s;
                opacity: 1;
                visibility: visible;
            }
         }

         &_portfolio:hover .header_div_ul_portfolio_line{
            width: 84px;
         }

         &_blog{

            &_line{
                height: 1px;
                width: 0;
                background-color: black;
                transition: .5s;
            }

            &_dropdowns{
                // padding:0 2rem;
                position: absolute;
                background-color: white;
                height: 0;
                left: 48.5rem;

                li{
                    opacity: 0;
                    visibility: hidden;
                }
            }
          }

         &_blog:hover .header_div_ul_blog_dropdowns{

            transition: .7s;
            height: 140px;

            li{
                opacity: 1;
                visibility: visible;
                transition: 2s;
            }

         }

         &_blog:hover .header_div_ul_blog_line{
            width: 42px;
         }

         &_elements{

            &_line{
                height: 1px;
                width: 0;
                background-color: black;
                transition: .5s;
            }


            &_dropdowns{
                
                // padding:0 2rem;
                position: absolute;
                background-color: white;
                height: 0;
                left: 52.5rem;

                li{
                    opacity: 0;
                    visibility: hidden;
                }
            }
          }

         &_elements:hover .header_div_ul_elements_dropdowns{

            transition: .7s;
            height: 170px;

            li{
                opacity: 1;
                visibility: visible;
                transition: 2s;
            }

         }

         &_elements:hover .header_div_ul_elements_line{
            width: 73.5px;
         }



        }

        &_search{
            i{
                font-size: 1.6rem;
                color: #7b7b7b;
                margin-left: 1rem;
            }
            span{
                color: #7b7b7b;
                margin-left: 1rem;
            }
        }

    }
}


.section{
    margin: 35px 130px;
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    gap: 1rem;
    grid-template-areas: 
    "logo ul ul search"
    ;
}


.logo{
    margin-right: 3rem;
    grid-area: logo;
}

.ul{
    margin-top: 0.6rem;
    margin-left: 2rem;
    grid-area: ul;
}

.header_div_search{
    margin-top: 0.2rem;
    margin-left: 2rem;
    grid-area: search;

    span{
        position: relative;
        left: 3rem;
    }
}


.homeDropdowns{
    position: relative;
    top: 3rem; 
    margin-top: 0.5rem;
}

#firstHomeDropdown{
    position: relative;
    top: 3rem; 

    .Line{
        height: 1px;
        background-color: black;
        width: 75.5px;
    }
}

#Grid{
    .Line{
        height: 1px;
        background-color: black;
        width: 0;
        transition: .5s;
    }
}

#Grid:hover .Line{
    width: 75px;
}

#Flower{
    .Line{
        height: 1px;
        background-color: black;
        width: 0;
        transition: .5s;
    }
}


#Flower:hover .Line{
    width: 81.5px;
}

#Animated{
    .Line{
        height: 1px;
        background-color: black;
        width: 0;
        transition: .5s;
    }
}

#Animated:hover .Line{
    width: 101.5px;
}

#Metro{
    .Line{
        height: 1px;
        background-color: black;
        width: 0;
        transition: .5s;
    }
}


#Metro:hover .Line{
    width: 107.5px;
}

#Carousel{
    .Line{
        height: 1px;
        background-color: black;
        width: 0;
        transition: .5s;
    }
}


#Carousel:hover .Line{
    width: 125.5px;
}

#Landing{
    .Line{
        height: 1px;
        background-color: black;
        width: 0;
        transition: .5s;
    }
}


#Landing:hover .Line{
    width: 49.5px;
}

.pageDropdowns{
    position: relative;
    right: 1.3rem;
    margin-top: 0.5rem;
}

#firstPageDropdown{
    position: relative;
    right: 1.3rem;
    margin-top: 3rem;

    .Line{
        height: 1px;
        background-color: black;
        width: 0;
        transition: .5s;
    }
    
}

#firstPageDropdown:hover .Line{
    width: 60px;
}

#FAQ{
    .Line{
        height: 1px;
        background-color: black;
        width: 0;
        transition: .5s;
    }
}


#FAQ:hover .Line{
    width: 64px;
}

#Contact{
    .Line{
        height: 1px;
        background-color: black;
        width: 0;
        transition: .5s;
    }
}


#Contact:hover .Line{
    width: 74.5px;
}

.portfolioDropdowns{
    margin-top: 0.5rem;
    position: relative;
    right: 1.3rem;
}

#firstPortfolioDropdown{
    margin-top: 3rem;
    position: relative;
    right: -0.7rem;

    .Line{
        height: 1px;
        background-color: black;
        width: 0;
        transition: .5s;
    }
}


#firstPortfolioDropdown:hover .Line{
    width: 54.5px;
}

#Galery{
    left: 0.7rem;
    .Line{
        height: 1px;
        background-color: black;
        width: 0;
        transition: .5s;
    }
}


#Galery:hover .Line{
    width: 43.5px;
}



#Masonry{
    left: 0.7rem;
    .Line{
        height: 1px;
        background-color: black;
        width: 0;
        transition: .5s;
    }
}


#Masonry:hover .Line{
    width: 55.5px;
}


#Layouts{
    height: 21px;
    left: 0.7rem;
    .Line{
        height: 1px;
        background-color: black;
        width: 0;
        transition: .5s;
    }

    i{
        font-size: 12px;
        position: relative;
        left: 23px;
    }
}


#Layouts:hover .Line{
    width: 109.5px;
}


#Layouts:hover #LayoutsUl{
    opacity: 1;
}


#Single{
    height: 20px;
    left: 0.7rem;
    .Line{
        height: 1px;
        background-color: black;
        width: 0;
        transition: .5s;
    }

    i{
        font-size: 12px;
        position: relative;
        left: 35px;
    }
}


#Single:hover .Line{
    width: 98.5px;
}


#Single:hover #SingleUl{
    opacity: 1;
    visibility: visible;
}




.blogDropdowns{
    margin-top: 0.5rem;
    position: relative;
    right: 1.3rem;
}

#firstBlogDropdown{
    margin-top: 3rem;
    position: relative;
    right: -0.7rem;

    .Line{
        height: 1px;
        background-color: black;
        width: 0;
        transition: .5s;
    }
}

#firstBlogDropdown:hover .Line{
    width: 56px;
}

#BlogStandart{
    left: 0.7rem;
    .Line{
        height: 1px;
        background-color: black;
        width: 0;
        transition: .5s;
    }
}

#BlogStandart:hover .Line{
    width: 56px;
}

#Post{
    left: 0.7rem;
    height: 20px;
    .Line{
        height: 1px;
        background-color: black;
        width: 0;
        transition: .5s;
    }

    i{
        font-size: 12px;
        position: relative;
        left: 38.3px;
    }
}

#Post:hover .Line{
    width: 67px;
}

#Post:hover #PostUl{
    opacity: 1;
    visibility: visible;
}

.elementDropdowns{
    margin-top: 0.5rem;
    position: relative;
    right: 1.3rem;
}

#firstElementDropdown{
    margin-top: 3rem;
    position: relative;
    right: -0.7rem;
    height: 20px;
    .Line{
        height: 1px;
        background-color: black;
        width: 0;
        transition: .5s;
    }

    i{
        font-size: 12px;
        position: relative;
        left: 68.3px;
    }
}


#firstElementDropdown:hover .Line{
    width: 45px;
}


#firstElementDropdown:hover #ClassicUl{
    opacity: 1;
    visibility: visible;
}

#Infographic{
    height: 20px;
    left: 0.7rem;
    .Line{
        height: 1px;
        background-color: black;
        width: 0;
        transition: .5s;
    }

    i{
        font-size: 12px;
        position: relative;
        left: 41px;
    }
}

#Infographic:hover .Line{
    width: 71px;
}


#Infographic:hover #InfographicUl{
    opacity: 1;
    visibility: visible;
}

#Interactive{
    height: 20px;
    left: 0.7rem;
    .Line{
        height: 1px;
        background-color: black;
        width: 0;
        transition: .5s;
    }

    i{
        font-size: 12px;
        position: relative;
        left: 43px;
    }
}

#Interactive:hover .Line{
    width: 70px;
}


#Interactive:hover #InteractiveUl{
    opacity: 1;
    visibility: visible;
}

#Typography{
    height: 20px;
    left: 0.6rem;
    .Line{
        height: 1px;
        background-color: black;
        width: 0;
        transition: .5s;
    }

    i{
        font-size: 12px;
        position: relative;
        left: 37px;
    }
}

#Typography:hover .Line{
    width: 74px;
}


#Typography:hover #TypographyUl{
    opacity: 1;
    visibility: visible;
}

#ProductTypes{
    position: relative; 
    right: 28rem; 
    top: 4rem;

    #ProductTypes_a{
        font-size: 28px;
        color:black;
    }

    p{
        margin-top: 1.5rem;
    }
}

#ShopPages{
    position: relative; 
    bottom: 24.3rem;
    right: 12rem;

    #ShopPages_a{
        font-size: 28px;
        color:black;
    }

    p{
        margin-top: 1.5rem;
    }
}

#ShopTypes{
    position: relative; 
    bottom: 40.2rem;
    left: 5rem;

    #ShopTypes_a{
        font-size: 28px;
        color:black;
    }

    p{
        margin-top: 1.5rem;
    }
}

#ShopLayouts{
    position: relative; 
    left: 22rem; 
    bottom: 61.4rem;

    #ShopLayouts_a{
        font-size: 28px;
        color:black;
    }

    p{
        margin-top: 1.5rem;
    }
}

#ProductTypes1{
    div{
        height: 1px;
        background-color: black;
        width: 0;
        transition: .5s;
    }
}


#ProductTypes1:hover div{
    width: 110px;
}


#ProductTypes2{
    div{
        height: 1px;
        background-color: black;
        width: 0;
        transition: .5s;
    }
}


#ProductTypes2:hover div{
    width: 114px;
}



#ProductTypes3{
    div{
        height: 1px;
        background-color: black;
        width: 0;
        transition: .5s;
    }
}


#ProductTypes3:hover div{
    width: 107px;
}


#ProductTypes4{
    div{
        height: 1px;
        background-color: black;
        width: 0;
        transition: .5s;
    }
}


#ProductTypes4:hover div{
    width: 100px;
}



#ProductTypes5{
    div{
        height: 1px;
        background-color: black;
        width: 0;
        transition: .5s;
    }
}


#ProductTypes5:hover div{
    width: 109px;
}



#ProductTypes6{
    div{
        height: 1px;
        background-color: black;
        width: 0;
        transition: .5s;
    }
}


#ProductTypes6:hover div{
    width: 150px;
}



#ProductTypes7{
    div{
        height: 1px;
        background-color: black;
        width: 0;
        transition: .5s;
    }
}


#ProductTypes7:hover div{
    width: 107px;
}



#ProductTypes8{
    div{
        height: 1px;
        background-color: black;
        width: 0;
        transition: .5s;
    }
}


#ProductTypes8:hover div{
    width: 145px;
}



#ProductTypes9{
    div{
        height: 1px;
        background-color: black;
        width: 0;
        transition: .5s;
    }
}


#ProductTypes9:hover div{
    width: 88px;
}


#ShopPages1{

    div{
        height: 1px;
        width: 0;
        transition: .5s;
        background-color: black;
    }
}


#ShopPages1:hover div{
    width: 77px;
}



#ShopPages2{

    div{
        height: 1px;
        width: 0;
        transition: .5s;
        background-color: black;
    }
}


#ShopPages2:hover div{
    width: 30px;
}



#ShopPages3{

    div{
        height: 1px;
        width: 0;
        transition: .5s;
        background-color: black;
    }
}


#ShopPages3:hover div{
    width: 64px;
}



#ShopPages4{

    div{
        height: 1px;
        width: 0;
        transition: .5s;
        background-color: black;
    }
}


#ShopPages4:hover div{
    width: 47px;
}




#ShopPages5{

    div{
        height: 1px;
        width: 0;
        transition: .5s;
        background-color: black;
    }
}


#ShopPages5:hover div{
    width: 75px;
}




#ShopTypes1{

    div{
        height: 1px;
        width: 0;
        transition: .5s;
        background-color: black;
    }
}


#ShopTypes1:hover div{
    width: 79px;
}




#ShopTypes2{

    div{
        height: 1px;
        width: 0;
        transition: .5s;
        background-color: black;
    }
}


#ShopTypes2:hover div{
    width: 107px;
}


#ShopTypes3{

    div{
        height: 1px;
        width: 0;
        transition: .5s;
        background-color: black;
    }
}


#ShopTypes3:hover div{
    width: 136px;
}


#ShopTypes4{

    div{
        height: 1px;
        width: 0;
        transition: .5s;
        background-color: black;
    }
}


#ShopTypes4:hover div{
    width: 136px;
}

#ShopTypes5{

    div{
        height: 1px;
        width: 0;
        transition: .5s;
        background-color: black;
    }
}


#ShopTypes5:hover div{
    width: 90px;
}


#ShopTypes6{

    div{
        height: 1px;
        width: 0;
        transition: .5s;
        background-color: black;
    }
}


#ShopTypes6:hover div{
    width: 126px;
}


#ShopTypes7{

    div{
        height: 1px;
        width: 0;
        transition: .5s;
        background-color: black;
    }
}


#ShopTypes7:hover div{
    width: 102px;
}


#ShopLayouts1{

    div{
        height: 1px;
        width: 0;
        transition: .5s;
        background-color: black;
    }
}


#ShopLayouts1:hover div{
    width: 125px;
}


#ShopLayouts2{

    div{
        height: 1px;
        width: 0px;
        transition: .5s;
        background-color: black;
    }
}


#ShopLayouts2:hover div{
    width: 136px;
}


#ShopLayouts3{

    div{
        height: 1px;
        width: 0;
        transition: .5s;
        background-color: black;
    }
}


#ShopLayouts3:hover div{
    width: 128px;
}


#ShopLayouts4{

    div{
        height: 1px;
        width: 0;
        transition: .5s;
        background-color: black;
    }
}


#ShopLayouts4:hover div{
    width: 132px;
}


#ShopLayouts5{

    div{
        height: 1px;
        width: 0;
        transition: .5s;
        background-color: black;
    }
}


#ShopLayouts5:hover div{
    width: 127px;
}


#ShopLayouts6{

    div{
        height: 1px;
        width: 0;
        transition: .5s;
        background-color: black;
    }
}


#ShopLayouts6:hover div{
    width: 120px;
}

#LayoutsUl{
    position: relative;
    left: 9.9rem;
    top: -2.5rem;
    background-color: white;
    width: 170px;
    padding: 0;
    height: 170px;
    opacity: 0;
    transition: 0.5s;
    overflow: hidden;
    a{
        text-decoration: none;
        color: #7a7a7a;
    }

    #LayoutFirstDiv{
        margin-top: 1rem;
    }

    div{
        position: relative;
        left: 1rem;
    }
}
.Layouts-li{
    margin-top: 0.5rem;
}


#SingleUl{
    position: relative;
    left: 9.9rem;
    top: -2.5rem;
    background-color: white;
    width: 170px;
    padding: 0;
    height: 170px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    overflow: hidden;
    a{
        text-decoration: none;
        color: #7a7a7a;
    }

    #SingleFirstDiv{
        margin-top: 1rem;
    }

    div{
        position: relative;
        left: 1rem;
    }
}

#PostUl{
    position: relative;
    left: 9.9rem;
    top: -2.5rem;
    background-color: white;
    width: 170px;
    padding: 0;
    height: 191px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    overflow: hidden;

    div{
        position: relative;
        left: 1rem;
        margin-top: 1rem;
    }
}

#ClassicUl{
    position: relative;
    left: 9.9rem;
    top: -2.1rem;
    background-color: white;
    width: 170px;
    padding: 0;
    height: 194px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    overflow: hidden;

    div{
        margin-top: 1rem;
        position: relative;
        left: 1rem;
    }
}

#InfographicUl{
    position: relative;
    left: 9.9rem;
    top: -1.5rem;
    background-color: white;
    width: 170px;
    padding: 0;
    height: 194px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    overflow: hidden;

    div{
        margin-top: 1rem;
        position: relative;
        left: 1rem;
    }
}

#InteractiveUl{
    position: relative;
    left: 9.9rem;
    top: -1.5rem;
    background-color: white;
    width: 170px;
    padding: 0;
    height: 194px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    overflow: hidden;

    div{
        margin-top: 1rem;
        position: relative;
        left: 1rem;
    }
}

#TypographyUl{
    position: relative;
    left: 9.9rem;
    top: -1.5rem;
    background-color: white;
    width: 170px;
    padding: 0;
    height: 194px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    overflow: hidden;

    div{
        margin-top: 1rem;
        position: relative;
        left: 1rem;
    }
}

// .DropLines{
//     height: 1px;
//     width: 0;
//     transition: .5s;
//     margin-right: 10px;
//     background-color: black;
// }

// #LayoutFirstDiv:hover .DropLines{
//     height: 1px;
//     width: 90px;
//     background-color: black;
// }


#bag{
    cursor: pointer;
    height: 6rem;
    position: absolute;
}

.circlee{
    border-radius: 100%;
    background-color: red;
    width: 0.8rem;
    height: 0.8rem;
    color: white;
    position: relative;
    left: 66.9rem;
    bottom: 3.9rem;
    cursor: pointer;
    span{
        font-size: 12px;
        position: absolute;
        left: 3px;
    }
}

#bagDiv{
    height: 4rem;
    width: 15rem;
    border: none;
    background-color: white;
    position: absolute;
    left: 58rem;
    top: 7.5rem;
    display: none;
    text-align: center;

    span{
        position: relative;
        top: 1.5rem;
        color: #7a7a7a;
    }
}

#search{
    cursor: pointer;
}

#search:hover{
    color: #ef2853;
}

#searchDiv{
    display: inline-block;
    position: relative;
    left: 50rem;
    opacity: 0;
    visibility: hidden;
    transition: .5s;
    input{
        height: 45px;
        width: 260px;
        outline: none;
    }

    input::placeholder{
        position: relative;
        left: 1rem;
    }

    i{
        position: relative;
        right: 1.5rem;
        top: 2px;
    }
}

#sticky{
    position: fixed;
    height: 0;
    overflow: hidden;
    padding: 0;
    transition: .5s;
    top: 0;
}



#bar{
    font-size: 3rem;
    position: relative;
    left: 77rem;
    bottom: 5rem;
    display: none;
}

#responsiveMenu{
    
    background-color: white;
    display: inline-block;
    margin-left: 39.7rem;
    position: relative;
    left: 68.2rem;
    bottom: 6rem;
    width: 27rem;
    height: 0;
    transition: 0.5s;
    overflow: hidden;


    p{
        margin-top: 1.5rem;
        margin-left: 4rem;
        a{
            text-decoration: none;
            color: #7a7a7a;
        }
    }
}

@media only screen and (max-width:540px){

    #sticky{
        display: none;
    }


    #bar {
        font-size: 5rem;
        position: relative;
        left: 66rem;
        bottom: 6rem;
        display: inline-block;
    }

    .header_div_logo {
        width: 429px;
    }
    
    .header {
        background-color: white;
        padding-top: 0.01rem;
        padding-bottom: 0.01rem;
        width: 72rem;
    }
    
    
    .ul {
        margin-top: 0.6rem;
        margin-left: 11rem;
        grid-area: ul;
        display:none;
    }
    
    .header_div_search {
        margin-top: 0.2rem;
        margin-left: 2rem;
        grid-area: search;
        display:none;
    }
    
    .circlee {
        border-radius: 100%;
        background-color: red;
        width: 0.8rem;
        height: 0.8rem;
        color: white;
        position: relative;
        left: 67.5rem;
        bottom: 3.9rem;
        cursor: pointer;
        display:none;
    }
    
#responsiveMenu{
        background-color: white;
        display: inline-block;
        margin-left: 39.7rem;
        position: relative;
        left: 5.3rem;
        bottom: 8rem;
        width: 27rem;
        height: 0;
        transition: 0.5s;
        overflow: hidden;
    
    p{
        font-size: 3rem;
        margin-top: 1.5rem;
        margin-left: 4rem;
        a{
            text-decoration: none;
            color: #7a7a7a;
        }
    }
}
}



@media only screen and (min-width:540px) and (max-width:800px){

    #sticky{
        display: none;
    }


    
.header_div_logo {
    width: 494px;
}


.header_div{
    margin-top: 6rem;
  }
  #bar {
    font-size: 7rem;
    position: relative;
    left: 125rem;
    bottom: 12rem;
    display: inline-block;
}
    
    .header {
        background-color: white;
        padding-top: 0.01rem;
        padding-bottom: 0.01rem;
        width: 134.9rem;
    }
    
    .ul {
        margin-top: 0.6rem;
        margin-left: 11rem;
        grid-area: ul;
        display:none;
    }
    
    .header_div_search {
        margin-top: 0.2rem;
        margin-left: 2rem;
        grid-area: search;
        display:none;
    }
    
    .circlee {
        border-radius: 100%;
        background-color: red;
        width: 0.8rem;
        height: 0.8rem;
        color: white;
        position: relative;
        left: 67.5rem;
        bottom: 3.9rem;
        cursor: pointer;
        display:none;
    }
    
#responsiveMenu{
    background-color: white;
    display: inline-block;
    margin-left: 39.7rem;
    position: relative;
    left: 63.2rem;
    bottom: 8rem;
    width: 32rem;
    height: 0;
    transition: 0.5s;
    overflow: hidden;
    p{
        font-size: 3rem;
        margin-top: 1.5rem;
        margin-left: 4rem;
        a{
            text-decoration: none;
            color: #7a7a7a;
        }
    }
}

.section {
    margin: 100px 130px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    grid-template-areas: "logo ul ul search";
}

}



@media only screen and (min-width:800px) and (max-width:1126px){

    #sticky{
        display: none;
    }


    #bar {
        font-size: 5rem;
        position: relative;
        left: 129rem;
        bottom: 6rem;
        display: inline-block;
    }

    .header_div_logo {
        width: 412px;
    }
    
    .header {
       
      background-color: white;
      padding-top: 0.01rem;
      padding-bottom: 0.01rem;
      width: 134.9rem;

    }
    
    .ul {
        margin-top: 0.6rem;
        margin-left: 11rem;
        grid-area: ul;
        display:none;
    }
    
    .header_div_search {
        margin-top: 0.2rem;
        margin-left: 2rem;
        grid-area: search;
        display:none;
    }
    
    .circlee {
        border-radius: 100%;
        background-color: red;
        width: 0.8rem;
        height: 0.8rem;
        color: white;
        position: relative;
        left: 67.5rem;
        bottom: 3.9rem;
        cursor: pointer;
        display:none;
    }

    
#responsiveMenu{
    background-color: white;
    display: inline-block;
    margin-left: 39.7rem;
    position: relative;
    left: 68.2rem;
    bottom: 6rem;
    width: 27rem;
    height: 0;
    transition: 0.5s;
    overflow: hidden;

    p{
        font-size: 2.5rem;
        margin-top: 1.5rem;
        margin-left: 4rem;
        a{
            text-decoration: none;
            color: #7a7a7a;
        }
    }
}
}


@media only screen and (min-width:1126px) and (max-width:1365px){

    #sticky{
        display: none;
    }

    #bar {
        font-size: 3rem;
        position: relative;
        left: 129rem;
        bottom: 5rem;
        display: inline-block;
    }
    
    .header {
        background-color: white;
        padding-top: 0.01rem;
        padding-bottom: 0.01rem;
        width: 134.9rem;
    }

    
    .ul {
        margin-top: 0.6rem;
        margin-left: 11rem;
        grid-area: ul;
        display:none;
    }
    
    .header_div_search {
        margin-top: 0.2rem;
        margin-left: 2rem;
        grid-area: search;
        display:none;
    }
    
    .circlee {
        border-radius: 100%;
        background-color: red;
        width: 0.8rem;
        height: 0.8rem;
        color: white;
        position: relative;
        left: 67.5rem;
        bottom: 3.9rem;
        cursor: pointer;
        display:none;
    }
}

